/*
 * General/Utility Styles
*/

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

body {
  margin: 0;
  background: #FFF;
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 0.875rem;
  color: rgb(86, 90, 92);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  font-weight: bold;
  color: rgb(255, 89, 95);
  text-decoration: none;
}

strong {
  font-weight: 600;
}

.container {
  padding: 0 15px 0 15px;
}

/*
 * Heading 
*/

h1 {
  font-size: 2rem; /* 22px / 16px */
  color: #666A6C;
}


/*
 * Header and tile Styles
*/

header {
  background: #FFF;
}

header .logo {
}


/*
 * Overview
*/

.overview {
  background: #FFF;
  text-align: center;
  /*padding: 1.5625rem;  25px / 16px */
}

div .recipe-name {
  margin-bottom: 35px;
}

.overview .profile-pict img {
  border-radius: 50%;
  margin-bottom: .375rem; /* 6px / 16px */
  width: 150px;
  height: 150px;
}

.author-details h2 {
  margin-bottom: 25px;
}

.overview h2 {
  font-weight: bold;
  font-size: 1.5rem;
}

.overview .author-details {
  margin-top: 15px;

}

.overview p.written-by {
  margin-bottom: 5px; /* 20px / 16px */
}

.icons .icon {
  float: left;
  width: 33.3%;
}

.icons .icon img {
  height: 30px;
  margin-bottom: .1875rem; /* 3px / 16px */
}


/*
 * Main Picture
*/


.main-picture {
  margin: 25px 0 25px 0;
}

.main-picture img {
  width: 100%;
}

/*
 * The Story
*/


.the-story {
  font-size: 0.8125rem;
  line-height: 1.375rem;
  text-align: center;
  padding: 1rem 0 1.25rem 0;
  border-bottom: 1px solid rgb(220, 224, 224);
}

.the-story h2 {
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin: 0.5rem 0 1.5rem 0;
  color: rgb(86, 90, 92);
}

.the-story p {
  text-align: left;
}

/*
 * instructions 
*/

.ingredients, .process {
  padding: 1rem 0 1.25rem 0;
  text-align: left;
  border-bottom: 1px solid rgb(220, 224, 224);
}

.ingredients h3, .process h3 {
  font-weight: bold;
  font-size: 1rem;
  margin: 0.5rem 0 1.5rem 0;
  color: rgb(86, 90, 92);
}

.ingredients li {
  font-size: 0.8125rem;
  line-height: 1.375rem;
  margin-bottom: 0.3125rem;
}

.ingredients li, .process li {
  font-size: 0.8125rem;
  line-height: 1.375rem;
  margin-bottom: 0.7rem;
}

.process ol.numbers {
  list-style-position: inside;
  list-style-type: decimal;
}


/*
 * Adjustments over 900px
*/

@media only screen and (min-width: 900px) {


.container {
  width: 880px;
  margin: 0 auto;
}

div .recipe-name {
text-align: left;
border-bottom: 1px solid #DCE0E0;
margin-bottom: 50px;
}

h1 {
  font-size: 3rem; 
}

.main-picture {
  margin: 15px 0 25px 0;
}

.column {
  float: left;
}

.overview h1 {
  margin-bottom: .6875rem;
}

.overview h2 {
  margin-bottom: .1875rem; /* 3px / 16px */
}

.overview .author {
  width: 65%;
}

.overview .icons {
  width: 35%;
}

.overview .profile-pict {
  width: 20%;
}

.overview .profile-pict img {
  border-radius: 50%;
  width: 125px;
  height: 125px;
}

.overview .author-details {
  width: 80%;
  height: 125px;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0 0 0 25px;
}

.overview p.written-by {
  margin-top: 75px;
  margin-bottom: 5px;
}
.overview .author-details .icon {
  width: inherit;
  margin-right: 50px;
}

.icons {
  margin-top: 75px;
}

.icon img {
  display: block;
  margin: .1875rem auto .1875rem; /* 3px / 16px */
}

.ingredients {
width: 30%;
}

.process {
width: 70%;
}

.ingredients, .process {
border-bottom: none;
}

.intructions {
  border-bottom: 1px solid rgb(220, 224, 224);
}

